/build/*
!/build/default.tower
build
Build
build-rocket
.*
*~
!.gitignore
!.gitmodules

# Project Files
*.kdev4
*.anjuta
tags
*.patch

# Documentation
/doc/source/*
!/doc/source/Doxyfile
/doc/html

# Build and IDE files
/build-fedora/
/CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake

# Logs and screenshots
/debug-*.log
/stderr.log
/stdout.log
*.png

# Assets / binaries
/SIMTOWER.EX_
/SIMTOWER.EXE
/data/SIMTOWER.EXE
/data/SIMTOWER.EX_
/scratch/
